body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100vh; /* Definindo altura da tela */
    overflow: hidden; /* Removendo a barra de rolagem vertical */
}

header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}

header .logo {
    height: 60px; 
    margin-left: 10px;
}

footer {
    background-color: #f7f7f7;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    margin: 0;
    font-variant-caps: all-petite-caps;
}

.container {
    display: flex;
    width: 100%;
    background-color: #eaeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adicionando barra de rolagem caso necessário */
}

.top-container {
    margin: 70px 0 0; /* Espaço para o header */
}



.bottom-container {
    height: 60vh; /* Altura para o container inferior */
}

.left, .center, .right {
    width: 33.33%; /* Cada coluna ocupará um terço da largura da tela */
    padding: 20px;
    background-color: #f7f7f7;
}

.left {
    background-color: #f7f7f7; /* Cor da coluna esquerda */
}

.center {
    background-color: #f7f7f7; /* Cor da coluna central */
}



.full-width {
    width: 100%;
    padding: 20px;
    background-color: #f7f7f7; /* Cor da coluna horizontal inferior */
}


/* Seus outros estilos específicos */


.project-info {
    text-align: center;
    position: relative; /* Para posicionar a bolinha */
}

.project-info h2 {
    margin: 0;
    font-size: 24px;
}

.responsive-img {
    max-width: 80%;
    height: auto;
    margin: 20px 0; /* Espaçamento superior e inferior */
}

.titulo {
    color: #040404;
    font-size: 26px;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
}

.project-name {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.status-indicator-trav-inferior {
    width: 30px;
    height: 30px;
    background-color: red; /* Cor da bolinha, ajuste conforme necessário */
    border-radius: 50%;
    position: absolute;
    top: 51.6%; /* Ajuste conforme necessário */
    left: 355px; /* Ajuste conforme necessário */
    transform: translateY(-50%);
}

.texto-status-indicator-trav-inferior{
    width: 250px;
    margin-left: 23px;
    margin-top: 8px;
    font-variant-caps: all-petite-caps;
    color: #040404;
    font-weight: bold;
}

.status-indicator-trav-superior {
    width: 30px;
    height: 30px;
    background-color: red; /* Cor da bolinha, ajuste conforme necessário */
    border-radius: 50%;
    position: absolute;
    top: 31.6%; /* Ajuste conforme necessário */
    left: 355px; /* Ajuste conforme necessário */
    transform: translateY(-50%);
}

.texto-status-indicator-trav-superior{
    width: 250px;
    margin-left: 29px;
    margin-top: 6px;
    font-variant-caps: all-petite-caps;
    color: #040404;
    font-weight: bold;
}

.status-indicator-colisao {
    width: 30px;
    height: 30px;
    background-color: red; /* Cor da bolinha, ajuste conforme necessário */
    border-radius: 50%;
    position: absolute;
    top: 71.6%; /* Ajuste conforme necessário */
    left: 355px; /* Ajuste conforme necessário */
    transform: translateY(-50%);
}

.texto-status-indicator-colisao{
    width: 250px;
    margin-left: 29px;
    margin-top: 10px;
    font-variant-caps: all-petite-caps;
    color: #040404;
    font-weight: bold;
}

.indicador-status-posicao {
    font-size: 24px;
    width: 300px;
    height: 100px;
    font-weight: bold;
    top: 15%; /* Ajuste conforme necessário */
    left: 50%; /* Ajuste conforme necessário */
    color: #040404;
    border: 1px solid #040404; /* Adicionando a palavra-chave "solid" para definir o estilo da borda */
    background-color: #ffffff;
    margin-top: 40px;
}

.botton-container {
    height: 50%;
}

.indicador-status-texto-posicao{
    color: #040404;
    font-size: 40px;
    margin-top: -16%;
    font-variant-caps: all-petite-caps;
}

.indicador-status-valor-posicao{
    font-variant-caps: all-petite-caps;
    font-size: 80px;
    margin-left: 30%;
    color: #31488c;
}

.indicador-status-valor-sufixo{
    margin-left: 80%;
    margin-top: -5%;
    color: #040404;
}

.indicador-status-forca {
    font-size: 24px;
    width: 300px;
    height: 100px;
    font-weight: bold;
    position: absolute;
    top: 15%; /* Ajuste conforme necessário */
    left: 70%; /* Ajuste conforme necessário */
    color: #040404;
    border: 1px solid #040404; /* Adicionando a palavra-chave "solid" para definir o estilo da borda */
    background-color: #ffffff;

}

.indicador-status-texto-forca{
    color: #040404;
    font-size: 40px;
    margin-top: -16%;
    font-variant-caps: all-petite-caps;
}

.indicador-status-valor-forca{
    font-variant-caps: all-petite-caps;
    font-size: 80px;
    margin-left: 60%;
    color: #31488c;
}

.indicador-status-valor-sufixo-forca{
    margin-left: 90%;
    margin-top: -5%;
    color: #040404;
}

.texto-status-indicator-forca{
    width: 300px;
    margin-left: 0px;
    margin-top: 10px;
    font-variant-caps: all-petite-caps;
    color: #040404;
    font-weight: bold;
    
}







.button-alivio {
    font-size: 20px;
    width: 275px;
    font-weight: bold;
    position: absolute;
    top: 80%; /* Ajuste conforme necessário */
    left: 165px; /* Ajuste conforme necessário */
    color: #040404;
    border: 1px solid #040404; /* Adicionando a palavra-chave "solid" para definir o estilo da borda */
    background-color: #ffffff;
    font-variant-caps: all-petite-caps;

}


.button-descer-travessa {
    font-size: 20px;
    width: 130px;
    font-weight: bold;
    position: absolute;
    top: 85%; /* Ajuste conforme necessário */
    left: 310px; /* Ajuste conforme necessário */
    color: #040404;
    border: 1px solid #040404; /* Adicionando a palavra-chave "solid" para definir o estilo da borda */
    background-color: #ffffff;
    font-variant-caps: all-petite-caps;

}

.button-subir-travessa {
    font-size: 20px;
    width: 130px;
    font-weight: bold;
    position: absolute;
    top: 85%; /* Ajuste conforme necessário */
    left: 165px; /* Ajuste conforme necessário */
    color: #040404;
    border: 1px solid #040404; /* Adicionando a palavra-chave "solid" para definir o estilo da borda */
    background-color: #ffffff;
    font-variant-caps: all-petite-caps;

}


.formulario {
    margin-top: 80px;
    font-variant-caps: all-petite-caps;
}

.formulario-01 {
    font-variant-caps: all-petite-caps;
}

.formulario-right {
    margin-top: 80px;
    margin-left: 35%;
    font-variant-caps: all-petite-caps;
}

.texto-parametros, .campo-parametros, .sufixo {
    display: inline-block;
    width: 200px; /* Definindo largura fixa para os rótulos */
    text-align: left; /* Alinhando o texto à esquerda */
    margin-bottom: 5px;
}

.titulo-secao {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.definicao-secao {
    font-style: italic;
    margin-bottom: 20px;
}

.texto-diametro, .texto-comprimento, .texto-area {
    font-weight: bold;
    margin-bottom: 5px; /* Adicionando margem inferior para separar do campo de texto */
}

.campo-parametros {
    width: 100px;
    padding: 5px;
    margin-right: 10px; /* Adicionando margem à direita para mover os campos e o sufixo um pouco para a direita */
}

.button-formularios {
    width: 175px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px; /* Espaçamento interno */
    margin-top: 10px; /* Margem superior */
    border: 2px solid #333; /* Borda sólida */
    border-radius: 5px; /* Borda arredondada */
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: all 0.3s ease; /* Transição suave */
    font-variant-caps: all-petite-caps;

}

.button-formularios:hover {
    background-color: #333; /* Mudança de cor ao passar o mouse */
    color: #fff; /* Mudança de cor do texto ao passar o mouse */
}



.button-formularios-emergencia {
    width: 175px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px; /* Espaçamento interno */
    margin-top: 10px; /* Margem superior */
    border: 2px solid #333; /* Borda sólida */
    border-radius: 5px; /* Borda arredondada */
    background-color: #ff0000; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: all 0.3s ease; /* Transição suave */
    font-variant-caps: all-petite-caps;

}

.button-formularios-emergencia:hover {
    background-color: #f79696; /* Mudança de cor ao passar o mouse */
    color: #fff; /* Mudança de cor do texto ao passar o mouse */
}
