body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.chartspanwidth{
    font-size:22px;
    color: #93C2E4;
 }

header, main, footer {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    color: white;
}

aside {
    background-color: #f1f1f1;
    color: white;
    border-top: 15px solid;
    border-image: linear-gradient(to right, transparent, #002060, transparent) 1;
}

.chartspanwidth{
   font-size:24px;
}

main {
    flex: 1;
    background-color: #f1f1f1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #002060;
    color: white;
}

.headertitulo {
    color: #002060;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.logo {
    width: 500px;
}

.column {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 10px); /* Ajusta a largura para 3 colunas com espaçamento */
    margin: 5px; /* Ajusta a margem como necessário */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha verticalmente caso as caixas tenham alturas diferentes */
}

.indicator, .IndicatorContainerMacro {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #e7e7e7;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%; /* Faz com que o indicador macro e caixinhas tenham a mesma largura */

}

#container-des {
    width: 100%; /* ou um valor fixo, se preferir */
    height: auto; /* ou um valor fixo, como 400px, se preferir */
}

.indicator {
    width: 48%;
}

.IndicatorContainer {
    width: 100%; /* Cada caixinha deve ocupar metade da largura da coluna para que duas caixinhas fiquem lado a lado */
    height: 195px;
    display: flex;
}

.IndicatorContaineregred {
    width: 50%; /* Cada caixinha deve ocupar metade da largura da coluna para que duas caixinhas fiquem lado a lado */
    height: 30px;
    display: flex;
}

.IndicatorContainerheader {
    width: 195%; /* Cada caixinha deve ocupar metade da largura da coluna para que duas caixinhas fiquem lado a lado */
    height: 30px;
    display: flex;
}

.IndicatorContainerMacro {
    width: 93.3%;
    height: 175px;
    margin-bottom: 5px; /* Isto adiciona uma margem na parte inferior do indicador macro */
    align-items: center;
    display: flex;
    justify-content: space-between; /* Espalha o conteúdo pelos extremos do container */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    position: relative; /* Necessário para o posicionamento absoluto do título */
}

.IndicatorContainerMainGraph {
    width: 195%;
    height: 270px;
    margin-bottom: 5px; /* Isto adiciona uma margem na parte inferior do indicador macro */
    align-items: center;
    display: flex;
    justify-content: space-between; /* Espalha o conteúdo pelos extremos do container */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    position: relative; /* Necessário para o posicionamento absoluto do título */
}





.container-speed, .LabelTitle, .LabelSubTitle, .LabelSubTitle01, .LabelSubTitle02, .LabelIndicator {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    line-height: 1;
    color: grey;
}

.LabelTitle {
    font-size: 14px;
    
}

.LabelSubTitle01 {
    color: green;
}

.LabelSubTitle02 {
    color: blue;
}

.LabelIndicator {
    font-size: 30px;
    padding-top: 10px;
    color: #93C2E4;
}

.arrow-up, .arrow-down {
    font-size: 20px;
    bottom: -20px;
}

.arrow-down {
    color: red;
}

.arrow-up-gauges {
    color: red;
}

.arrow-up-gauges, .arrow-down-gauges {
    font-size: 20px;
    margin-left: auto;
    top: 45%;
    position: absolute;
    left: 68%;
}

.icon-severity, .icon-severity-2, .icon-severity--4, .icon-severity-bar{
    font-size: 20px;
    margin-left: auto;
    top: 45%;
    position: absolute;
    left: 68%;
}

.chart-container {
    flex-grow: 1; /* Permite que o container do gráfico ocupe o espaço disponível */
}


#container-valv, #container-efic, #container-vaz, #container-des {
    width: 100%;
    height: auto;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.IndicatorContainer-insight-chart, .IndicatorContainer-insight {
    background-color: #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
}

.IndicatorContainer-insight-chart {
    width: 48%;
    height: 350px;
    margin: 10px;
}

#container1 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container1 .highcharts-background, #container1 .highcharts-grid-line {
    display: none;
}

@media (max-width: 1360px) {

    .arrow-up-gauges, .arrow-down-gauges {
        font-size: 20px;
        color: red;
        margin-left: auto;
        top: 45%;
        position: absolute;
        left: 75%;
    }

    .headertitulo {
        font-size: 30px;
    }

    .logo{
        width: 180px;
    }

    .chartspanwidth{
        font-size:16px;
        color: #93C2E4;
     }

    #container-des, #container-vaz, #container-efic{
        min-height: 150px;
        width: 100%;
    }

    .IndicatorContainerMacro {
        width: 85%; /* Três por linha, considerando a margem */
        height: 137px;
    }

    .column {
        width: calc(33.333% - 10px); /* Três por linha, considerando a margem */
        margin: 5px;
    }

    /* Aqui você pode ajustar o tamanho da fonte dos indicadores se necessário */
    .LabelTitle, .LabelIndicator {
        font-size: 18px;
    }

    /* Ajuste o tamanho dos containers dos gráficos se necessário */
    .IndicatorContainer {
        width: calc(50% - 10px); /* Dois por linha dentro da coluna */
        height: 135px; /* Ou 'auto' se o conteúdo variar */
    }

}


@media (max-width: 768px) {
    .arrow-up-gauges, .arrow-down-gauges {
        font-size: 20px;
        color: red;
        margin-left: auto;
        top: 45%;
        position: absolute;
        left: 77%;
    }
 
    .headertitulo {
        font-size: 20px;
    }

    .logo, .IndicatorContainer, .IndicatorContainer-insight-chart, .indicator {
        width: 200px;
    }

    main, .column {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
    }

    .IndicatorContainerMacro{
        width: 85%;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5px; /* Ajusta a margem como necessário */
    }

    .IndicatorContainer-insight {
        height: auto;
    }

    .LabelTitle, .LabelIndicator {
        font-size: 18px;
    }
}

.icon-severity {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}

.icon-severity-bar {
    display: inline-block;
    width: 24px;
    height: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}


.icon-severity-levantada-vermelha {
    background-color: #E22028;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.icon-severity-levantada-cinza {
    background-color: #E0E0E0;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.icon-severity-baixo-verde {
    background-color: #26a44c;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.icon-severity-baixo-vermelha {
    background-color: #E22028;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.icon-severity-baixo-cinza {
    background-color: #E0E0E0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.icon-severity--barrinha-ligada {
    background-color: #050505;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.icon-severity--barrinha-apagada {
    background-color: #E0E0E0;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}


.label-container {
    display: flex; /* Usa Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Ajuste a altura conforme necessário */
}

.indicator.IndicatorContainer {
    display: flex; /* Transforma o contêiner em um flex container */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: space-around; /* Espaçamento uniforme entre os itens */
    height: 200px; /* Exemplo de altura, ajuste conforme necessário */
}

    .modal {
        display: none; /* Oculta o modal por padrão */
        position: fixed; /* Fixa o modal na tela */
        z-index: 1; /* Define a ordem de empilhamento */
        left: 0;
        top: -23%;
        width: 100%; /* Largura total */
        overflow: auto; /* Adiciona rolagem quando necessário */
    }
    
    /* Estilos para o conteúdo do modal */
    .modal-content {
        background-color: #F0F0F0; /* Cor de fundo branca */
        margin: 15% auto; /* Centraliza o modal verticalmente */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 40%; /* Largura do modal */
        display: flex; /* Usar display flex para criar duas colunas */
        border-color: #3F3F3F;

    }

    /* Estilos para as colunas */
    .columnmodal {
        flex: 1; /* Ocupa todo o espaço disponível */
        padding: 0 10px; /* Adiciona um pouco de espaçamento nas laterais */
    }
    /* Estilos para o botão de fechar */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* Estilos para os campos de entrada */
    input[type="number"] {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    /* Estilos para as labels */
    label {
        font-weight: bold;
        font-family: Arial, sans-serif;
    }

    .buttonsalvar {
        background-color: grey; /* Cor de fundo verde */
        color: white; /* Cor do texto branco */
        padding: 12px 20px; /* Espaçamento interno */
        border: none; /* Sem borda */
        border-radius: 4px; /* Borda arredondada */
        cursor: pointer; /* Cursor ao passar o mouse */
        width: 100%;
    }

    #parametros-list {
        display: grid;
        grid-template-columns: auto auto; /* Duas colunas: uma para rótulos e outra para valores */
        gap: 10px; /* Espaçamento entre as colunas */
        text-align: left;
    }
    
    
    #parametros-list label {
        font-weight: bold;
        text-align: left; /* Alinha os rótulos à esquerda */
    }
    
    #parametros-list label:nth-child(odd) {
        justify-self: end; /* Alinha os rótulos à direita na primeira coluna */
    }
    
    #parametros-list label:nth-child(even) {
        justify-self: start; /* Alinha os valores à esquerda na segunda coluna */
    }
    

  /* Estilo adicional para o título do formulário */
  .form-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
 /* Estilos para o título */
 .modal-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
#OpenPopUP01 {
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Adiciona uma transição suave para a cor de fundo */
}

#OpenPopUP01:hover {
    background-color: #F0F0F0; /* Muda a cor de fundo quando o mouse passar por cima */
}

